@page "/test-materials"
@namespace PaintingProjectsManagement.UI.Modules.Materials.UI.Pages

<h3>Materials Module Test Page</h3>

<p>If you can see this page, the Materials module is working correctly!</p>

<p>Current time: @DateTime.Now</p>
