<?xml version="1.0" encoding="utf-8"?>
<Coverage>
  <Include>
    <Assembly>PaintingProjectsManagement.Features.*</Assembly>
    <Assembly>rbkApiModules.*</Assembly>
  </Include>
  <Exclude>
    <Assembly>*.Tests</Assembly>
    <Assembly>*.Test</Assembly>
    <Assembly>*.Tests.*</Assembly>
    <Assembly>*.Test.*</Assembly>
    <Assembly>Microsoft.*</Assembly>
    <Assembly>System.*</Assembly>
    <Assembly>netstandard</Assembly>
    <Assembly>mscorlib</Assembly>
    <Assembly>coverlet.*</Assembly>
    <Assembly>Testcontainers.*</Assembly>
    <Assembly>Moq</Assembly>
    <Assembly>Shouldly</Assembly>
  </Exclude>
  <ExcludeByFile>
    <File>**/obj/**</File>
    <File>**/bin/**</File>
    <File>**/Migrations/**</File>
    <File>**/Program.cs</File>
    <File>**/Startup.cs</File>
    <File>**/AssemblyInfo.cs</File>
    <File>**/GlobalUsings.cs</File>
    <File>**/Usings.cs</File>
  </ExcludeByFile>
  <ExcludeByAttribute>
    <Attribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage</Attribute>
    <Attribute>System.Runtime.CompilerServices.CompilerGenerated</Attribute>
    <Attribute>System.CodeDom.Compiler.GeneratedCode</Attribute>
  </ExcludeByAttribute>
</Coverage>
